*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Spinnaker', sans-serif;
}

h1{
  font-family: 'Jura', sans-serif;
  font-size: 400%;
  margin: 2% 0;
}

h3{
  font-family: 'Jura', sans-serif;
  font-size: 250%;
  font-style: bold;
  margin: 2% 0;
  color: Maroon;
}

h4{
  font-size: 120%;
  margin: 2% 0;
  color: Maroon;
}

p{
  font-size: 110%;
  line-height: 1.5em;
}

/* === HEADER === */
header {
  background: #FFF;
  width: 100%;
  height: 12%;
  position: fixed;
  z-index: 1000;
}

#logo {
  font-size: 400%;
  float: left;
  margin: 0.5% 5%;
}

/* == MENU == */
nav {
  float: right;
  margin-right: 5%;
  margin-top: 2%;
}

a{
  text-decoration: none;
  color: Maroon;
}

a:hover{
  color: black;
}

li {
  display: inline-block;
  font-size: 150%;
  margin: 0 10px;
}

/* === CONTENT === */
section {
  width: 100%;
  padding: 3% 0;
  text-align: center;
}

/* == INTRODUCTION == */
.introduction {
  background-image: url("img/ignasi_pattern_s.png");
  padding-top: 9%;
}

.introduction img{
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}

/* == SOCIAL MEDIA == */
.socialmedia {
  background: #fafafa;
  background: -webkit-linear-gradient(#ebebeb, #fafafa);
  background: -o-linear-gradient(#ebebeb, #fafafa);
  background: -moz-linear-gradient(#ebebeb, #fafafa);
  background: linear-gradient(#ebebeb, #fafafa);
}

.socialmedia img{
  border-radius: 50%;
}

.socialmedia a{
  display: inline-block;
  margin: 10px 10px;
}

/* == HACKTIV8 ==*/
.hacktiv8 {
  background-image: url(img/geometry.png);
}

.hacktiv8 p {
  margin-bottom: 3%;
}

.hacktiv8 a {
  display: inline-block;
  margin: 10px 10px;
}

.circle {
  height: 150px;
  width: 150px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
  border: 3px solid rgba(0,0,0,0.8);
}

footer {
  height: 3em;
  text-align: center;
}

#copyright {
  color: black;
  padding: 1em;
}
